<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1"
  />
  <title>{% block title %}ScamGuard{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <!-- Navbar -->
  <header class="nav-wrap">
    <nav class="nav">
      <a class="brand" href="{{ url_for('playground') }}">🛡️ ScamGuard</a>

      <!-- Mobile menu toggle -->
      <input id="nav-toggle" type="checkbox" />
      <label for="nav-toggle" class="burger" aria-label="Toggle navigation">
        <span></span><span></span><span></span>
      </label>
      
      <ul class="nav-links">
        {% if session.user_id %}
         {% if user_permission|int >= 1 %}
           <li><a href="{{ url_for('admin_dashboard') }}">Dashborad</a></li>
         {% else %}
          <li><a href="{{ url_for('user_dashboard') }}">Dashborad</a></li>
         {% endif %}

          <li class="nav-divider"></li>
          <li class="nav-user">👋 {{ session.username }}</li>
          <li><a href="{{ url_for('account.edit_account') }}">Account</a></li> 
          <p><a class="button" href="/logs"> Prediction History</a></p>
          <li><a class="btn btn-outline" href="{{ url_for('auth.logout') }}">Logout</a></li>
        {% else %}
           <li><a href="{{ url_for('landing') }}">Home</a></li>
          <li><a href="{{ url_for('auth.login') }}" class="{% if request.endpoint == 'login' %}active{% endif %}">Login</a></li>
          <li><a href="{{ url_for('auth.register') }}" class="{% if request.endpoint == 'register' %}active{% endif %}">Register</a></li>
        {% endif %}

      </ul>
    </nav>
  </header>

  <!-- Flash messages -->
  <section class="flash-stack">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash flash-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </section>

  <!-- Page content -->
  <main class="page">
    {% block content %}{% endblock %}
  </main>

  <footer class="footer">
    <p>© {{ 2025 }} ScamGuard • Fake Job & Scam Detection</p>
  </footer>
</body>
</html>